.signInButton {
  height: 3rem;
  border-radius: 3rem;
  border: 0;
  padding: 0 2rem;
  background: var(--gray-800);

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  color: var(--white);

  transition: filter 0.2s;

  svg {
    width: 20px;
    height: 20px;
  }

  svg.closeIcon {
    margin-left: 1rem;
  }

  svg:first-child {
    margin-right: 1rem;
  }

  &:hover {
    filter: brightness(0.8);
  }
}